{% extends "nexus_pub/layout.html" %}

{% block title %} {{ article.category }} | {% endblock %}

{% block body %}
<article class="container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            <div class="d-flex justify-content-between">
                <form action="{% url 'star_article' id=article.id %}" method="POST">
                    {% csrf_token %}
                    {% if article not in user.starred_articles.all %}
                        <button type="submit" class="btn btn-outline-primary mt-3"><i class="bi bi-star pe-1"></i>Star Article</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary mt-3"><i class="bi bi-star-fill pe-1"></i>Unstar</button>
                    {% endif %}
                </form>
                <form action="{% url 'save_article' id=article.id %}" method="POST">
                    {% csrf_token %}
                    {% if article not in user.saved_articles.all %}
                        <button type="submit" class="btn btn-outline-secondary mt-3"><i class="bi bi-save pe-1"></i>Save Article</button>
                    {% else %}
                        <button type="submit" class="btn btn-secondary mt-3"><i class="bi bi-save-fill pe-1"></i>Unsave</button>
                    {% endif %}
                </form>
            </div>            

            <h1 class="fs-1 fw-bold mt-3">{{ article.title }}</h1>
            <p class="lead text-muted">{{ article.description }}</p>
            <div class="d-flex justify-content-between mb-3">
                <a href="{% url 'view_staff' name=article.author %}" class="d-flex text-reset">
                    {% if article.author.picture %}
                    <div class="ratio ratio-1x1 me-2" style="width: 40px; height: 40px;">
                        <img src="{{ article.author.picture }}" alt="{{ article.author }}"
                            class="img-fluid rounded-circle" style="object-fit: cover;">
                    </div>
                    {% endif %}
                    <p class="text-uppercase my-auto fs-6">By {{ article.author }}</p>
                </a>
                <p class="fs-6 my-auto">{{ article.date_published }}</p>
            </div>
            {% if article.image %}
            <img src="{{ article.image }}" alt="{{ article.title }}" class="img-fluid mb-4 w-100">
            {% endif %}
            <div class="my-4 fs-5">{{ article.content|linebreaksbr|safe }}</div>

            <hr>
            {% if user.is_authenticated %}

            <a id="toggle-comments" class="mb-3">View Comments</a>
            <div id="comments-section" style="display: none;">
                <h4 class="fw-bold my-2">Comments</h4>
                {% if comments %}
                {% for comment in comments %}
                <div class="d-flex align-items-start my-2">
                    <div class="ratio ratio-1x1 me-2" style="width: 35px; height: 35px;">
                        <img src="{{ comment.user.picture }}" alt="{{ comment.user.name }}"
                            class="img-fluid rounded-circle" style="object-fit: cover;">
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="card-title">{{ comment.user.name }}</h5>
                        <p class="card-text">{{ comment.content|linebreaksbr|safe }}</p>
                        <p class="card-text"><small class="text-muted">{{ comment.date }}</small></p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>No comments yet.</p>
                {% endif %}
            </div>

            <h4 class="fw-bold my-2">Leave a Comment</h4>
            <form method="POST" action="{% url 'add_comment' id=article.id %}" class="mb-2">
                {% csrf_token %}
                <div class="mb-3">
                    <textarea class="form-control" id="comment_content" name="comment_content" rows="3"
                        required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Comment</button>
            </form>    
            
            {% else %}

            <a data-bs-toggle="modal" data-bs-target="#loginModal" class="py-3">Log in to View Comments.</a>

            {% endif %}

        </div>
    </div>
</article>
{% endblock %}