{% extends "nexus_pub/layout.html" %}

{% block title %} {% if category %} {{ category }} | {% endif %} {% endblock %}

{% block body %}

<article class="container md-4">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    {% if headlines %}
    <div id="articleCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for article in headlines %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <h1 class="fw-bold fs-1 text-center text-uppercase mb-4">{% if search %} {{ search }} {% elif article.category %} {{ article.category }} {% else %} Article {% endif %}</h1>
                <div class="card mb-5 border-0">
                    <div class="row g-0">
                        {% if article.image %}
                        <div class="col-md-5">
                            <img src="{{ article.image }}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="Article Image" loading="lazy">
                        </div>
                        {% endif %}
                        <div class="col-md-7 px-lg-5 py-lg-3">
                            <div class="card-body">
                                <p class="card-text text-end"><small class="text-muted">{{ article.date_published }}</small></p>
                                <h2 class="card-title fw-bolder fs-1">{{ article.title }}</h2>
                                <p class="card-text">{{ article.description }}</p>
                                <a href="{% url 'view_article' id=article.id %}" class="btn btn-primary btn-sm float-right">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr>
    {% endif %}
</article>

{% include "nexus_pub/article-grid.html" %}

{% endblock %}