{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} Nexus Publication</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link href="{% static 'nexus_pub/styles.css' %}" rel="stylesheet">
    <script src="{% static 'nexus_pub/main.js' %}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/7553/7553719.png">
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-light py-3 border-bottom align-items-center mb-4 mb-lg-0">
        <div class="container">
            <a class="navbar-brand fw-bolder fs-4" href="{% url 'index' %}">Nexus Publication</a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}"><i class="bi bi-house pe-2"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'world_news' %}"><i class="bi bi-globe pe-2"></i>World News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-table pe-2"></i>Games</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown d-none d-xl-block">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="ratio ratio-1x1 ms-2" style="width: 35px; height: 35px;">
                            <img src="{{ user.picture }}" alt="{{ user.name }}" class="img-fluid rounded-circle" style="object-fit: cover;">
                          </div>
                          <a class="nav-link dropdown-toggle text-capitalize" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.name }}
                          </a>
                          <ul class="dropdown-menu dropdown-menu-arrow profile py-0">
                            <li>
                              <a class="dropdown-item d-flex align-items-center py-2 me-3" href="{% url 'starred_articles' %}">
                                <i class="bi bi-star-fill pe-2"></i>
                                <span>Starred Articles</span>
                              </a>
                            </li>
                            <li>
                              <hr class="dropdown-divider m-0">
                            </li>
                            <li>
                              <a class="dropdown-item d-flex align-items-center py-2" href="{% url 'saved_articles' %}">
                                <i class="bi bi-save2 pe-2"></i>
                                <span>Saved Articles</span>
                              </a>
                            </li>
                            <li>
                              <hr class="dropdown-divider m-0">
                            </li>
                            <li>
                              <a class="dropdown-item d-flex align-items-center py-2" data-bs-toggle="modal" data-bs-target="#profileModal">
                                <i class="bi bi-person pe-2"></i>
                                <span>My Profile</span>
                              </a>
                            </li>
                            <li>
                              <hr class="dropdown-divider m-0">
                            </li>
                            <li>
                              <a class="dropdown-item d-flex align-items-center py-2" href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                                <i class="bi bi-gear pe-2"></i>
                                <span>Edit Profile</span>
                              </a>
                            </li>
                            <li>
                              <hr class="dropdown-divider m-0">
                            </li>
                            <li>
                              <a class="dropdown-item d-flex align-items-center py-2" href="{% url 'logout' %}">
                                <i class="bi bi-box-arrow-right pe-2"></i>
                                <span>Log Out</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      
                      <li class="nav-item d-xl-none">
                        <a class="nav-link collapsed" data-bs-toggle="collapse" href="#profile-nav" role="button" aria-expanded="false">
                          <span>{{ user.name }}</span>
                          <i class="bi bi-chevron-down ms-1"></i>
                        </a>
                        <ul id="profile-nav" class="collapse nav-content" data-bs-parent="#sidebar-nav">
                          <li>
                            <a class="nav-link" href="{% url 'starred_articles' %}">
                              <span>Starred Article</span>
                            </a>
                          </li>
                          <li>
                            <a class="nav-link" href="{% url 'saved_articles' %}">
                              <span>Saved Article</span>
                            </a>
                          </li>
                          <li>
                            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#profileModal">
                              <span>My Profile</span>
                            </a>
                          </li>
                          <li>
                            <a class="nav-link" href="{% url 'index' %}">
                              <span>Account Settings</span>
                            </a>
                          </li>
                          <li>
                            <a class="nav-link" href="{% url 'logout' %}">
                              <span>Log Out</span>
                            </a>
                          </li>
                        </ul>
                      </li>
    
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#registerModal"><i class="bi bi-pen pe-2"></i>Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="bi bi-person pe-2"></i>Login</a>
                    </li>
                    {% endif %}
                    <li class="nav-item d-lg-none">
                        <a class="nav-link collapsed" data-bs-target="#category-nav" data-bs-toggle="collapse" href="#">
                            <span>Categories</span><i class="bi bi-chevron-down ms-1"></i>
                        </a>
                        <ul id="category-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            {% for category in categories %}
                            <li>
                                <a class="nav-link" href="{% url 'view_category' category=category %}">
                                    <span>{{ category }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <form action="{% url 'search' %}" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
                <button class="btn btn-primary mx-xl-3 my-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#dateFilterModal">
                    Filter Date
                </button>
            </div>
        </div>
    </nav>

    <div class="container d-lg-block d-none mb-4">
        <div class="overflow-auto scrollbar scrollbar-light" style="white-space: nowrap;">
            <div class="d-flex justify-content-center">
                {% for category in categories %}
                <a class="nav-link text-reset text-uppercase px-2" href="{% url 'view_category' category=category %}">
                    {{ category }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="dateFilterModal" tabindex="-1" aria-labelledby="dateFilterModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="dateFilterModalLabel">Date Filter</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'search' %}" method="GET">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="start_date" class="form-label">Start Date:</label>
                                    <input type="date" id="start_date" name="start_date" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label for="end_date" class="form-label">End Date:</label>
                                    <input type="date" id="end_date" name="end_date" class="form-control">
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main class="content">
        {% block body %}

        {% endblock %}
    </main>

    <div class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
        <a href="?page={{ page }}" class="page-link active">{{ page }}</a>
        {% else %}
        <a href="?page={{ page }}" class="page-link">{{ page }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        {% endif %}
    </div>

    {% include 'nexus_pub/modals.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>