<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} Nexus Publication</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .navbar-collapse {
            flex-grow: 0;
        }
        .description {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-light py-3 border-bottom align-items-center mb-4 mb-lg-0">
        <div class="container">
            <a class="navbar-brand fw-bolder fs-4" href="{% url 'index' %}">Nexus Publication</a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'world_news' %}">World News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Games</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
                    </li>
                    {% endif %}
                    {% for category in categories %}
                    <li class="nav-item d-lg-none">
                        <a class="nav-link text-capitalize" href="{% url 'view_category' category=category %}">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <form action="{% url 'search' %}" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div class="container d-lg-block d-none mb-4">
        <div class="overflow-auto scrollbar scrollbar-light" style="white-space: nowrap;">
            <div class="d-flex justify-content-center">
                {% for category in categories %}
                <a class="nav-link text-reset text-uppercase px-2" href="{% url 'view_category' category=category %}"> {{ category }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <main class="content">
        {% block body %}

        {% endblock %}
    </main>

    <div class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
    
        {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
        <a href="?page={{ page }}" class="page-link active">{{ page }}</a>
        {% else %}
        <a href="?page={{ page }}" class="page-link">{{ page }}</a>
        {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        {% endif %}
    </div>

    {% include 'nexus_pub/login.html' %}
    {% include 'nexus_pub/register.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>