
  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="article_id" value="{{ article.id }}">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="name" class="form-control" name="name" placeholder="Enter email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Enter password">
            </div>
            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            Don't have an account? <a class="" data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-dismiss="modal">Register here.</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  
