{% extends "nexus_pub/layout.html" %}

{% block title %}{{ user.name }} | {% endblock %}

{% block body %}
<article class="container">
    <div class="row">
        {% if articles %}
        {% for article in articles %}
        <div class="col-lg-8 offset-lg-2">
            <div class="row mb-4">
                <div class="col-md-2">
                    {% if article.image %}
                        <img src="{{ article.image }}" class="img-fluid" alt="{{ article.title }}">
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <h5 class="mb-0">{{ article.title }}</h5>
                    <p>
                        <span class="badge bg-primary">{{ article.category }}</span>
                        <span class="text-muted">By {{ article.author }}</span>
                    </p>
                </div>
            </div>            
        </div>
        {% endfor %}
        {% else %}
        No available article.
        {% endif %}
    </div>
</article>
{% endblock %}
