{% extends "nexus_pub/layout.html" %}

{% block title %}{{ user.name }} | {% endblock %}

{% block body %}
<article class="container">
    <div class="row">
        {% if articles %}
        {% for article in articles %}
        <div class="col-md-6">
            <div class="card mb-4">
                {% if article.image %}
                <img src="{{ article.image }}" class="card-img-top" alt="{{ article.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">
                        <span class="badge bg-primary">{{ article.category }}</span>
                        <span class="text-muted">By {{ article.author }}</span>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        No available article.
        {% endif %}
    </div>
</article>
{% endblock %}
