#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid gainsboro;
  border-radius: 5px;
  margin: 2px;
  font-size: 2rem;
  font-weight: 700;
  height: 2.8rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid gray;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  background-color: gainsboro;
  color: #495057;
  border-radius: 5px;
}

@media screen and (min-width:576px) {
  .keyboard-button{
    padding: 0.8rem 1.1rem;
  }

  .letter-box{
    height: 3.3rem;
    width: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .keyboard-button{
    padding: 0.8rem 1.4rem;
  }
}

/* Add the following CSS code */
#message {
  display: none;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

#final-message {
  opacity: 0; 
  transition: opacity 0.3s ease;
}

/* Animation classes */
@keyframes modal-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal-fade-in {
  animation: modal-fade-in 0.3s forwards;
}

.modal-fade-out {
  animation: modal-fade-out 0.3s forwards;
}

.wordle-menu button {
  border: 0;
  border-radius: 10px;
  padding: 0 8px;
}

.wordle-menu button:hover {
  background-color: gainsboro;
}

.wordle-menu button i{
  font-size: 1.5rem;
}

.wordle-menu button:hover{
  color: darkgreen;
}

.active {
  color: darkgreen;
  background-color: gainsboro;
}

#stats, #settings, #help, #div-title{
  display: none;
}

#menu .title{
  padding: .3rem;
  text-align: center;
  border-radius: 5px;
  background-color: #e7e7e7;
}

#stats .row {
  --bs-gutter-x: 2% !important;
}
.stats-card {
  padding: .1rem;
  text-align: center;
  border-radius: 5px;
  background-color: whitesmoke;
  height: 100%;
}

.stats-card span {
  font-size: 2.8rem;
  font-weight: bold;
}

.stats-card p {
  text-transform: uppercase;
  font-size: smaller;
  color: gray;
}

#close-button {
  float: right;
  margin: .3rem;
}
